<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sict.alarmsv">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="your.package.alarm.permission.SET_ALARM" />

    <application
        android:name=".ultil.App"
        android:allowBackup="true"
        android:icon="@drawable/logo_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.Login" android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".activity.AddAlarmActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".activity.AlarmMainActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".activity.Teacher"
            android:theme="@style/AppTheme.NoActionBar" ></activity>
        <activity android:name=".activity.Timetable"  android:theme="@style/AppTheme.NoActionBar"  />
        <activity android:name=".splash.SplashScreen" android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".service.AlarmService"
            android:enabled="true"
            android:exported="true" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>